#first{
  color: #eb8cca;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  /* background-color: #ffedee; */
}
.second{
  font-family: cursive;
  color: red;
}
h3{
  color: green;
  font-style: bold;
  font-family: helvetica;
}
